body {
    background-color: antiquewhite;
    color: aliceblue;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
     font-size: calc(16px + 0.5vw);
    line-height: calc(1.1em + 0.5vw);
  margin: .5em;
}

/* queries */
.wrapper {
    width: 800px;
    margin: 0 auto;
}

   img { 
        max-width: 100%; 
        height: auto;
    }

h1, h2, h3 {
    font-size: 35px;
    line-height: 5;
    font-family: fantasy;
    letter-spacing: 5px;
    color: black
}



header {
    background color: antiquewhite;
    height: 10px;
    width: 600px;
    margin: 100px;
    padding: 10px;
        text-align: center

}

@media screen and (max-device-width: 480px) {
    .column {
       float: none;
    } 
}

nav ul li
{
    display: inline;
    background-color: azure;
    padding: 10px 12px;
    
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a: hover {
    background-color: antiquewhite;
}

p {
    font-family:cursive;
    line-height: 2;
}


/* anchorssss */

a {
    color: aliceblue;
    background-color: white;
}



nav {
    background-color: aliceblue;
   border: 5px white;
    font-size: 19px;
    margin-bottom: 100%;
}

main {
    background-color: dimgray;
     padding: 100px;
    width: 450px;
    margin: 100px;
    
}


footer {
    background-color: black;
     padding: 10px;
    font-family: monospace;
    font-size: 15px;
       
}


img {
     margin: 5px;
    width: 500px; 
    padding: 10px;
}


